@import "variable";

.banner {
    background-image: url(/assets/background-search.png);
    height: 653px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 35px;

    &-logo {
        margin-bottom: 12rem;
    }

    &-content {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .banner-title {
            font-size: 44px;
            color: rgba(255, 209, 91, 1);
        }

        &__search-form-wrapper {
            display: flex;
            justify-content: center;

            .form-search {
                min-width: 750px;
                height: 60px;
                border-radius: 15px 0 0 15px;
                border: none;
                padding-left: 30px;

                &:focus {
                    outline: none;
                }

                &__button {
                    border: none;
                    background: white;
                    padding: 10px;
                    border-radius: 0 15px 15px 0;

                    > i {
                        background: black;
                        padding: 13px;
                        color: white;
                        border-radius: 10px;
                    }
                }
            }
        }

    }
}


