 @import"variable";
.header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  
}
.background-header {
  width: 100%;
  height: 100%;
}
.background-img-header {
  max-width: 1440px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.title-header {
  position: absolute;
  color: yellow;
  font-size: 40px;
  padding-left: 307px;
  width: 69%;
  top: 12%;
  text-align: center;
  font-family: $fontAnton;
  
}
.search-form {
  display: flex;
  border-radius: 11px;
  background-color: white;
  width: 60%;
  position: absolute;
  top: 33%;
  right: 25%;

}
.form-search {
  border: none;
  border: transparent;
  max-width: 945px;
  width: 80%;
  height: 40px;
  text-align: center;
  border-radius: 11px;
 
}
.search-icon {
  background-color: white;
  width: 6%;
  height: 40px;
  display: flex;
  margin-left: 6rem;
  text-align: center;
  border-radius: 11px;

}
.fa-solid{
    color:white;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    padding-top: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.header-sous-titre{
  position: fixed;
  top: 4%;
  right: 87%;
  font-family: $fontAnton;
  color: $colorwhite;
  
}